<p id="notice"><%= notice %></p>

<p>
  <strong>Heightfeet:</strong>
  <%= @individual.heightFeet %>
</p>

<p>
  <strong>Heightinches:</strong>
  <%= @individual.heightInches %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @individual.weight %>
</p>

<p>
  <strong>Male:</strong>
  <%= @individual.male %>
</p>

<p>
  <strong>Chronic:</strong>
  <%= @individual.chronic %>
</p>

<p>
  <strong>Current:</strong>
  <%= @individual.current %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
